.admin-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;

    .nav-menu {
        li a {
            display: block;
            color: $sidebar-menu-color;
            line-height: $sidebar-nav-menu-line-height;
            padding-left: .1rem;

            &:hover,
            &.active {
                text-decoration: none;

                i:first-child {
                    color: $sidebar-menu-color-active;
                }
            }

            i {
                padding-right: .1rem;
                font-size: .16rem;

                &:last-child {
                    float: right;
                }
            }
        }

        ul {
            padding-left: .26rem;
            background-color: $sidebar-sub-menu-bg;
        }
    }

    .sub-menu {
        li a {
            line-height: $sidebar-sub-menu-line-height;

            &:hover,
            &.active {
                color: $sidebar-menu-color-active;
            }
        }
    }
}