.admin-main {
    position: relative;
    overflow: hidden;
}
.admin-content-container {
    position: relative;
    overflow: hidden;
    margin-top: $header-height;
    background-color: $sidebar-bg;
}